<% provide(:title, current_user.email) %>
<% @lists.each do |list| %>
  <div class="list-header">
    <%= image_tag("note.png", class: "note-img") %>

    <div class="list">
      <%= list.title %>
      <%= list.descriotion %>
    </div>

    <div class="edit-list">
      <%= link_to "#{image_tag("edit_img.png", class: "link-list")}".html_safe, edit_list_path(list) %>

      <div class="delete-list"></div>
      <%= link_to "#{image_tag("delete_img.png", class: "link-list")}".html_safe, list, method: :delete %>
    </div>
  
  </div>
  <%= form_for(:task, url: tasks_path, remote: true, html: { class: "add-task"}) do |f| %>
    <%= image_tag("Green.png", class: "greenplus")%>
    <%= f.text_field :content, placeholder: "Start typing here to create a task...", class: 'new_task_content' %>
    <%= f.datetime_select :deadline, options = {}, html_options = { class: "datetime" } %>
    <%= f.hidden_field :list_id , value: list.id%>
    <%= f.submit "Add Task" %>
  <% end %>

  <ul id="list<%=list.id%>" class="task-list">
  <% end %>
  <div class="task_div">
    <%= render partial: 'tasks/tasks' %>
  </div>
    
    
  </ul>


<%= link_to "#{image_tag("blue.png")}" 'Add TODO List'.html_safe, new_list_path, class: "add-button" %>