<!DOCTYPE html>
<html>
  <head>
    <title>ToDo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>  
    <div class="container-app">
      <%= render 'layouts/user' %>
      <h1 class="app_title">Sample todo list</h1>
      <% map = { notice: 'success', alert: 'danger'}.with_indifferent_access %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= map[key] %>"><%= value %></div>
      <% end %>
      
      <%= yield %>
    </div>
    <div class="footer">
  <a href="http://rubygarage.org/" >@Ruby Garage</a>
  </div>
  </body>
</html>
